{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 200,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto"
}
